body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("../images/intro.jpg");
}

.intro_title {
    color: #fff;
    font-size: 120px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-weight: 700;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto; 
    text-align: center;  
}

.intro_suptitle {
    font-size: 52px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: 'Kaushan Script', cursive;
}

/* Header */
.header {
width: 100%;
padding-top: 30px;

    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #a722ad;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #a722ad;
}

.nav_link:hover:after, 
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #a722ad
}

/* Button */
.btn {
    display: inline;
    vertical-align: top;
    padding: 5px 25px;

    border: 3px solid #fff;

    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    
}

.btn:hover {
    background-color: #fff;
    color: #333;   

    transition: background-color 1s linear, color 1s linear;
}

/* Slider */
.slider {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.slider_item { 
    width: 22%;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    
    opacity: 0.7;
    border-top: 3px solid #fff;

    padding: 20px 0;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #a722ad;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */
.section {
    padding: 80px 0;
}

.section_header {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 950px;

    text-align: center;
}

.section_suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section_title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    color: #333;
}

.section_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #a722ad;
}

.section_text {
    color: #999;
}


/* About */
.about {
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 380px;
    position: relative;

    background-color: #a722ad;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: .2;
}

.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    
    transition: transform .2s linear;
}

.about_img img {
    display: block;
    transition: opacity .2s linear;
}

.about_text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 116px;
    left: 0;
    z-index: 2;
    transition: opacity .2s linear, transform .2s linear;
}

.about_item:hover .about_text {
    opacity: 1;
    transform: translate3d(-10px, -10px, 0);
}


/* Statistics */
.statistics {
    background: linear-gradient(to bottom, #a722ad  , #dc7a21);
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    padding: 70px 20px;

    border-left: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.stat_item:last-child {
    border-right: 1px solid #fff;
}

.stat_count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 900;
    line-height: 1;
}

.stat_text {
    text-transform: uppercase;
}